<div >
  <div class="flex mb-2 partner-home items-center">

    <div class="lg:text-2xl font-bold   partner-home-heading">
        ĐỐI TÁC
      </div>
      <hr  class="line mt-4   ">
  </div>
  <p class="font-extralight">Bộ sưu tập các thương hiệu nổi tiếng lớn trên Thế Giới</p>
  <div class="partner-container flex flex-end">

      <swiper [slidesPerView]="3"  [breakpoints]="{ 
        '300': { slidesPerView: 1 } ,
        '768': { slidesPerView: 2 } ,
        '1024': { slidesPerView: 3 } ,
        }">
        
    <ng-template swiperSlide *ngFor="let item of partner"> <img [src]="item.image" alt="" class="modifier-img lg:w-40 lg:ml-8 "></ng-template>
    
  </swiper>
    </div>
    
</div>
