
                       

                            <div 

                             class=" box relative duration-500 cursor-pointer flex flex-col items-center justify-center  rounded-lg  product 2xl:w-68    xl:w-60  lg:w-52 lg:h-80">
                                <div  class="   lg:w-36 w-32 py-2" (click)="navigateTo('/product-details/' + product.id)">
                                    <img [src]="product.imageURL" alt="">   
                                </div>
                                <div  (click)="navigateTo('/product-details/' + product.id)">
                                    <p class="mt-2 text-xs font-bold text-black text-center ">{{product.title}}</p>
                                    <div class="flex  justify-center gap-5 ">
                                        <p class="text-center text-red-600 font-bold">{{product.discountedPrice | currency :'VND'}}</p>
                                        <ng-container *ngIf="product.discountPersent !== null && product.discountPersent !== ''">
                                            <p class="text-center text-current line-through">{{product.price | currency :'VND'}}</p>
                                        </ng-container>
                                       
                                    </div>
                                </div>
                                <ng-container *ngIf="product.discountPersent !== null && product.discountPersent !== ''">
                                    <div   style="height: 2rem;
                                    left: -0.5rem;
                                    position: absolute; 
                                    top: -1rem;
                                    width: 4rem;
                                    background: url('https://img.freepik.com/free-vector/banner-design-white-background_1308-95008.jpg?size=626&ext=jpg');
                                    background-size: cover; /* hoặc contain tùy theo mong muốn */
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    color: #fff;
                                    font-size: 12px;
                                    font-weight: 700;
                                    margin: 5px 0 0;
                                    text-align: center;">
                                        <p style="margin-top: 1.5rem;   color: #fff;"> Sale {{product.discountPersent }} </p>
                                    </div>
                                </ng-container>
                                <div class="flex justify-around gap-5">
                                    <div>
        
                                        <i class="fas  fa-star color_star"></i>
                                        <i class="fas fa-star color_star"></i>
                                        <i class="fas fa-star color_star"></i>
                                        <i class="fas fa-star color_star"></i>
                                        <i class="fas fa-star color_star"></i>
                                    </div>
                                    <div class="heart">
                                        <p>Like  
                                          
                                            <span class="heart-icon">
                                                <i (click)="HandleLogin()" class="fas fa-heart" style="color: #f8bdbd;"></i>
                                            </span>
                                            </p>
                                    </div>
                                </div>
                            </div>
                      
                              
                            
             
