.color_star{
    color: #ff9f00;
   
}
span.heart-icon:hover i.fas.fa-heart {
    color: red!important;
}
.box :hover img{
    scale: 1.15;
    transition: all .5s ease;
}
.product{
    border: 1.8px solid #ebebeb;
}
