<mat-divider></mat-divider>
<div class="lg:grid lg:grid-cols-7 gap-10 xl:mx-32 mx-8  py-10">
    <div class=" col-span-5">
        <h1 style="font-weight: bold;">News</h1>
        <ng-container  *ngFor="let new of news | paginate : { itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
        };">
            <div class="my-4 grid lg:grid-cols-3 cursor-pointer " (click)="navigaToNewsDetails(new.id)">
                <div class="lg:w-64 lg:h-36 col-span-1 relative" >
                    <img class="lg:w-64 lg:h-36  object-cover w-full" [src]="new.imagrTitle" alt="">
                    <div class="absolute top-0 lg:w-8 w-6">
                        <img class="blinking-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFsdMYXDk6LxXaOstvR-4tirnaDWXx7d5jlQ&usqp=CAU" alt="">
                      </div>
                      
                </div>
                <div class="lg:col-span-2 lg:ml-10">
                    <p class="lg:text-lg font-bold text-sm">{{new.title}}</p>
                    <p>{{new.sub_title}}</p>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="col-span-2 hidden lg:block">
        <p style="font-weight: bold;"> New Product </p>
        <mat-divider></mat-divider>
        <div >
            <div (click)="navigateToProductsIphone()" class=" p-4 grid grid-cols-3 gap-5 cursor-pointer">
                <img class="col-span-1" src="https://images.fpt.shop/unsafe/fit-in/80x80/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/9/14//638302786719056580_ip-15-pro-dd.jpg" alt="">
               <div class="col-span-2">
                <h3>iPhone 15 Pro 128GB</h3>
                <p class="text-sky-500">50 posts</p>
               </div>
            </div>
            <mat-divider></mat-divider>
            <div (click)="navigateToProductsIphone()" class=" p-4 grid grid-cols-3 gap-5 cursor-pointer">
                <img class="col-span-1" src="https://images.fpt.shop/unsafe/fit-in/80x80/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/9/13//638301715320061468_iphone-15-dd.jpg" alt="">
               <div class="col-span-2">
                <h3>iPhone 15 128GB</h3>
                <p class="text-sky-500">85 posts</p>
               </div>
            </div>
            <mat-divider></mat-divider>
            <div (click)="navigateToProductsSamsung()" class="grid grid-cols-3 p-4 gap-5  cursor-pointer">
                <img class="col-span-1" src="https://images.fpt.shop/unsafe/fit-in/80x80/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/8/28//638288178412655978_samsung-galaxy-z-flip5-xanh-dd-tragop.jpg" alt="">
               <div class="col-span-2">
                <h3>Samsung Galaxy Z Flip5 5G </h3>
                <p class="text-sky-500">75 posts</p>
               </div>
            </div>
            <mat-divider></mat-divider>
            <div (click)="navigateToProductsOppo()" class="grid grid-cols-3 p-4 gap-5 cursor-pointer">
                <img class="col-span-1" src="https://images.fpt.shop/unsafe/fit-in/80x80/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/10/12//638327122312902566_oppo-find-n3-flip-5g-den-dd.jpg" alt="">
               <div class="col-span-2">
                <h3>
                    OPPO Find N3 Flip 5G</h3>
                <p class="text-sky-500">14 posts</p>
               </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
    <div class="text-center col-span-7">

        <pagination-controls
                previousLabel="Trước"
                nextLabel="Sau"
                (pageChange)="onTableDataChange($event)"
                >
                </pagination-controls>
    </div>
</div>
