.product-title{
    width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-bottom: 0.5em;
}

.product-home::after{
    background: #ebebeb;
    content: "";
    height: 1px;
 
    position: absolute;
    width: 85%;
   
}
.product-home-heading{
    background-color: #fff;
    display: inline-block;
    padding-right: 25px;
    position: relative;
    z-index: 2;
    
}