<div>
    <div>
      <div class="flex items-center product-home gap-3 pt-10 mb-2 w-full">
        <div class="lg:text-2xl font-bold product-home-heading">
          PRODUCTS BY CATEGORY
        </div>
        <hr class="line-product-title">
      </div>
    </div>
    <p class="font-extralight">A collection of famous brands from around the world</p>
  
    <!-- Uncomment and modify the below code if needed to filter products by brand -->
    <!-- 
    <ng-container *ngFor="let product of dataProduct">
        <div *ngIf="product.brand == 'iphone'">
            <app-home-product-slider [title]="'IPHONE'" [products]="iphone"></app-home-product-slider>
        </div>
    </ng-container> 
    -->
  
    <app-home-product-slider [title]="'IPHONE'" [products]="iphone"></app-home-product-slider>
  
    <app-home-product-slider [title]="'SAMSUNG'" [products]="samsung"></app-home-product-slider>
  
    <app-home-product-slider [title]="'VIVO'" [products]="vivo"></app-home-product-slider>
  
    <app-home-product-slider [title]="'OPPO'" [products]="oppo"></app-home-product-slider>
  </div>
  