<div class="bg-black text-white px-5 py-5">
    <div class="container">
        <div class="md:flex justify-around ">
            <div class="content px-4">
                <h1 class="font-bold">Customer Support Hotline</h1>
                <p>Call to purchase 1800.2097 (7:30 AM - 10:00 PM)</p>
                <p>Call for complaints 1800.2063 (8:00 AM - 9:30 PM)</p>
                <p>Call for warranty 1800.2064 (8:00 AM - 9:00 PM)</p>
                <p>Call for assistance 1800.2064 (8:00 AM - 9:00 PM)</p>
            </div>
            <div class="px-4 content hidden md:block">
                <h1>Information and Policies</h1>    
                <p>Online installment purchase</p>
                <p>Shipping policy</p>
                <p>Warranty information lookup</p>
                <p>Electronic invoice inquiry</p>
            </div>
            <div class="px-4 content hidden xl:block">
                <h1>Services and Other Information</h1>
                <p>Corporate customers (B2B)</p>
                <p>Payment offers</p>
                <p>Warranty policy</p>
                <p>Operational regulations</p>
            </div>
            <div class="content px-4">
                <h1>Connect with TECH STORE</h1>
                <div class="flex space-x-5 text-start">
                    <a href=""><i style="color: #3b5998;" class="fab fa-facebook-f fa-2x pb-3 text-2xl ml-3"></i></a>
                    <a href=""><i class="fab fa-instagram fa-2x pb-3 text-2xl ml-3" style="color: #ac2bac;"></i></a>
                    <a href=""><i class="fab fa-tiktok pb-3 text-2xl ml-3"></i></a>   
                    <a href=""><i class="fab fa-twitter fa-2x pb-3 text-2xl ml-3" style="color: #55acee;"></i></a>
                </div>
                <div>
                    <p>P. Linh Trung, Thu Duc City, Ho Chi Minh City.</p>
                    <p>Phone: (028) 333 55555</p>
                    <p>Email: techstoregmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
