<div class="bg-black text-white  px-5 py-5">
    <div class="container">
        <div class="md:flex justify-around ">
            <div class=" content px-4">
                <h1 class="font-bold    ">Tổng đài hỗ trợ </h1>
                <p>Gọi mua hàng 1800.2097 (7h30 - 22h00)</p>
                <p>Gọi khiếu nại 1800.2063 (8h00 - 21h30)</p>
                <p>Gọi bảo hành 1800.2064 (8h00 - 21h00)</p>
                <p>Gọi trợ giúp 1800.2064 (8h00 - 21h00)</p>
            </div>
            <div  class="px-4 content hidden md:block">
                <h1>Thông tin và chính sách</h1>    
                <p>Mua hàng trả góp Online</p>
                <p>Chính sách giao hàng</p>
                <p>Tra thông tin bảo hành</p>
                <p>Tra cứu hoá đơn điện tử</p>
             
             
            </div>
            <div  class="px-4 content hidden xl:block">
                <h1>Dịch vụ và thông tin khác</h1>
                <p>Khách hàng doanh nghiệp (B2B)</p>
                <p>Ưu đãi thanh toán</p>
                <p>Chính sách Bảo hành</p>
                <p>Quy chế hoạt động</p>
          
           
               
            </div>
            <div  class=" content px-4">
                <h1 >Kết nối với TECH STORE</h1>
                <div class="flex  space-x-5 text-start">

                    <a  href=""><i style="color: #3b5998; " class="fab fa-facebook-f fa-2x pb-3 text-2xl ml-3"></i></a>
                    <a href=""><i class="fab fa-instagram fa-2x pb-3 text-2xl ml-3" style="color: #ac2bac;"></i></a>
                    <a href=""><i class="fab fa-tiktok pb-3 text-2xl ml-3"></i></a>   
                    <a href=""><i class="fab fa-twitter fa-2x pb-3 text-2xl ml-3" style="color: #55acee;"></i></a>
                </div>
                <div class="">

                    <p> P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh.</p>
                   <p>Điện thoại: (028) 333 55555 </p>
                   <p>Email: techstore@gmail.com</p>
                </div>
            
                
            </div>
        </div>
    </div>
</div>
