
<div class=" container mt-8    ">
    <div>

        <form >
            <p class="text-center lg:text-xl">Welcome to TechStore</p>
            <h1 class="text-center mt-5">Sign Up</h1>
            
            <div class="flex justify-center flex-col items-center space-y-2 ">
                <div class="mb-5 space-y-3">

                    <div class="lg:space-x-15 ">
                      <span class="mr-4">Full Name</span>
                        <input class="input" type="text" placeholder="Họ và Tên">
                    </div>
                    <div class="lg:space-x-11 lg:block hidden">
                        <label  for=""> Email</label>
                        <input  class="input " type="email" placeholder="Email">
                    </div>
                    <div class="lg:space-x-11 lg:hidden block">
                        <label  for="">Enter Email</label>
                        <input  class="input " type="email" placeholder="Email">
                    </div>
                    <div class="lg:space-x-5">
                        <label >Password</label>
                        <input class="input" type="password" placeholder="Mật khẩu">
                    </div>
                </div>
             
                <div class="text-center space-y-5 ">
                 

                        <p class="mt-10">Already have an account? <span class="font-bold cursor-pointer hover:scale-110"><a (click)="changeIslogin()">Login Now</a> </span></p>
               
                        <div class="text-center space-x-3">
                            <a href="" class="text-3xl "><i class="fab fa-google-plus-square" style="color: #fe0101;"></i></a>
                            <a href="" class="text-3xl"> <i class="fab fa-facebook-square" style="color: #4e83df;"></i></a>
                            <a href="" class="text-3xl"><i class="fab fa-instagram-square" style="color: #f05cc8;"></i></a>
                            <a href="" class="text-3xl"><i class="fab fa-twitter" style="color: #0f5ee6;"></i></a>
                           
                        </div>
                    <button (click)="changeIslogin()" class="btn w-full mb-10">Sign Up</button>
                </div>
                
            </div>
        
        </form>
    </div>
   
</div>

