// @import 'swiper/scss';
// @import 'swiper/scss/pagination';
// @import 'swiper/scss/navigation';
//  @import 'swiper/scss/effect-coverflow';







.center-img{
   display: block;
   margin: 0 auto;
   width: 80%;
  }
 
  
 
  