<div class="relative">
    
    <div class="slider-effectCoverflow">

      <swiper 
      [effect]="'coverflow'"
      [grabCursor]="true"
      [centeredSlides]="true"
      [slidesPerView]="'auto'"
      [coverflowEffect]="{
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true
      }"
    
    [pagination]="{
      clickable: true
    }"
      [autoplay]="{
        delay: 2500, 
        disableOnInteraction: true 
    }"
      class="mySwiper ">
   
    <ng-template swiperSlide *ngFor="let item of slideBanner"> <img [src]="item.image" alt="" class="center-img lg:h-[28rem] h-60 rounded-lg object-contain "></ng-template>
    
  </swiper>
    </div>
</div>



